<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }}</p>
      <div class="footer-icons">
        <a href="https://t.me/islam_madatov" target="_blank" class="a-green">
          <i class="fab fa-telegram"></i>
        </a>
        <a href="https://www.linkedin.com/in/islam-madatov-ba7b4424b/" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/IMadatov" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:madatovislom250@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
