<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">About me.</h2>
                <p class="default-p">
                    Assalamaleykum!! My name is Islam Madatov. 
                </p>
                <!-- <p>
                    <img src="../../assets/bc01_a.jpg" alt="Islam Madatov at a restaurant in São Paulo" class="about-picture">
                </p> -->
                <p class="default-p">
                    I am a full-stack developer from Khodjeli, Karakalpakstan, Uzbekistan. And I am 21 years old.
                </p>
                <p class="default-p">I am very interested in the virtual world. It was caused by video games when I was younger.
                    Due to my interest in the cyber world, I entered the Tashkent University of Information Technologies (TUIT) in 2021, 
                    where I studied <span class="default-highlight">Information Security</span>.
                </p>
                <p class="default-p">
                    At TUIT, I learned things like C++, Algorithms and Data Structures, SQL Database,
                    Computer Networks, and Operating Systems. I also learned about <span class="default-highlight">web development</span>.
                    In my spare time, I study Machine Learning.    
                </p>
                <p class="default-p">
                    I’m currently working at <span class="default-highlight">Uzinfocom</span>, where I contribute to national-scale software solutions and improve existing platforms with modern technologies.
                </p>
            </div>
        </div>
    </div>
</div>
