<div class="accordion-left">
  <mat-accordion>
    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Languages</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Good working knowledge <strong><span class="default-highlight">English</span></strong></p>
        <p>Working knowledge<strong><span class="default-highlight">Russian</span></strong></p>
        <p>Native <strong><span class="default-highlight">Uzbek</span></strong></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>University</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>2025 - TUIT - <strong><span class="default-highlight">Information Security</span></strong> - Bachelor's Degree</p>
        <ul>
          <li>Final Project | Network Traffic Anomaly Detection Based on Neural Network Methods</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Technical</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Programming Languages:</p>
        <ul>
          <li>
            C#, JavaScript/TypeScript, SQL,C++(GENERAL), Python(GENERAL)
          </li>
        </ul>
        <p>Frameworks & Libraries:</p>
        <ul>
          <li>
            Angular, .NET core/.NET framework, Entity Framework, Tailwind CSS, PrimeNG
          </li>
        </ul>
        <p>Tools:</p>
        <ul>
          <li>
            Git, Docker, Jenkins, Trello, Postman, Visual Studio 2022, Visual Studio Code
          </li>
        </ul>
        <p>Web Development:</p>
        <ul>
          <li>
            REST API integration,
            Real-time communication with SignalR,
            Responsive UI with PrimeNG and Tailwind CSS,
          </li>
        </ul>
        <p>Soft Skills</p>
        <ul>
          <li>
            Teamwork, Problem-solving, Communication, Adaptability
          </li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Techs I use</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tech-board">
        <div class="tech-cell">
          <i class="devicon-angular-plain colored"></i>
        </div>
        <div class="tech-cell">
            <i class="devicon-dotnetcore-plain"></i>
        </div>
        <div class="tech-cell">
            <i class="devicon-csharp-plain"></i>
        </div>  
        <div class="tech-cell">
            <i class="devicon-microsoftsqlserver-plain"></i>
        </div>
        <div class="tech-cell">
            <i class="devicon-cplusplus-plain"></i>
        </div>        
        <div class="tech-cell">
          <i class="devicon-typescript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-html5-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-bootstrap-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-docker-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-git-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-vscode-plain colored"></i>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>