<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Love Is What I Build</h1>
        <h2 class="home-author">Islam Madatov, <span id="dynamic-text">{{ dynamicText }} </span>@if ("Kibr Dasturchi"==dynamicText) {<span style="font-size: medium; color: red;">joke</span>}</h2>
        <blockquote>
            I am very interested in technology and its potential to improve lives.
        </blockquote>
        <!-- <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Portfolio
            </a>
        </button> -->
      </div>
    </div>
  </div>
  